<!-- comun-home.component.html -->
<div class="container py-3">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h4 class="m-0">Panel · Usuario Común</h4>
    <nav class="nav nav-pills gap-2">
      <a class="nav-link" routerLink="catalogo" routerLinkActive="active">Catálogo</a>
      <a class="nav-link" routerLink="vender" routerLinkActive="active">Vender</a>
      <a class="nav-link" routerLink="mis-productos" routerLinkActive="active">Mis productos</a>
      <a class="nav-link" routerLink="carrito" routerLinkActive="active">Carrito</a>
      <a class="nav-link" routerLink="pedidos" routerLinkActive="active">Pedidos</a>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>
