<header class="bg-dark text-white py-2 mb-3">
  <div class="container d-flex align-items-center">
    <h2 class="h5 m-0">Panel - Usuario</h2>

    <div class="ms-auto">
      <app-logout-button redirectTo="/login"></app-logout-button>
    </div>
  </div>
</header>


<div class="container py-3">
    <div class="d-flex align-items-center justify-content-between mb-3">
    <nav class="nav nav-pills gap-2">

      <a class="nav-link" routerLink="catalogo" routerLinkActive="active">Catálogo</a>
      <a class="nav-link" routerLink="vender" routerLinkActive="active">Vender</a>
      <a class="nav-link" routerLink="mis-productos" routerLinkActive="active">Mis productos</a>
      <a class="nav-link" routerLink="carrito" routerLinkActive="active">Carrito</a>
      <a class="nav-link" routerLink="pedidos" routerLinkActive="active">Pedidos</a>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>
