<header class="bg-dark text-white py-2 mb-3">
  <div class="container d-flex align-items-center">
    <h2 class="h5 m-0">Panel - Moderador</h2>

    <div class="ms-auto">
      <app-logout-button redirectTo="/login"></app-logout-button>
    </div>
  </div>
</header>

<div class="container py-3">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <nav class="nav nav-pills gap-2">
      <a class="nav-link" routerLink="gestionRevisiones" routerLinkActive="active">Gestion Revisiones</a>
      <a class="nav-link" routerLink="gestionSanciones" routerLinkActive="active">Gestion Sanciones</a>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>
